<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peer Connections</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- materialize and google icon font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<header class="header">
    <a href="/" class="page-title"><h1 class="h1">Peer Connections</h1></a>
    <div class="nav">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a id="logout" href="/">Logout</a>
        </div>
        {{else}}
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
        {{/if}}
        <i class="small material-icons">wb_sunny</i>
    </div>
</header>
<body class="light-mode">
    {{{body}}}
{{#if logged_in}}
<script src="/js/logout.js"></script>    
{{/if}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/light-mode.js"></script>
</body>
</html>