<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- materialize and google icon font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<header>
    <a href="/" class="page-title"><h1>Peer Connections</h1></a>
    <nav class="nav">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <div>
            <a href="/profile">Profile</a>
            <a id="logout" href="/">Logout</a>
        </div>
        {{else}}
        <div>
            <a href="/login">Login</a>
        </div>
        {{/if}}
    </nav>

</header>
<body>
    {{{body}}}
{{#if logged_in}}
<script src="/js/logout.js"></script>    
{{/if}}
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="/js/materialize.js"></script>
</body>
</html>