<h2 class="blue">Create a Post</h2>
<form class="form signup-form">
    <div class="form-group create-issue-box">
        <div>
        <label for="issue-title">Title:</label>
        </div>
        <input class="issue-title-create" type="text" id="issue-title"/>
    </div>
    <div class="form-group create-issue-box">
        <div>
        <label for="issue-text">Text:</label>
        </div>
        <textarea for="issue-text" rows="4" cols="50"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>