<div class="width">
    <h2 class="">Create a Post</h2>
    <form class="form signup-form">
        <div class="form-group create-issue-box">
            <div>
            <label for="issue-title">Title:</label>
            </div>
            <textarea class="issue-title-create" id="issue-title" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group create-issue-box">
            <div>
            <label for="issue-text">Text:</label>
            </div>
            <textarea for="issue-text" class="issue-content-create" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary issue-submit-btn" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/create.js"></script>