<section>
  <div class=“container”>
    <div class=“text-center mb-5">
      <h2 class=“display-20 display-md-18 display-lg-16”></h2>
    </div>
    <div class=“row”>
      <div class=“col-lg-4 col-md-6 mb-2-6”>
        <div class=“card card-style2">
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5”><a href=“#!“> {{issue.title}}</a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6 mb-2-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6 mb-2-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6 mb-2-6 mb-lg-0">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6 mb-2-6 mb-md-0">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
      <div class=“col-lg-4 col-md-6">
        <div class=“card card-style2”>
          <div class=“card-img”>
          </div>
          <div class=“card-body”>
            <h3 class=“h5"><a href=“#!“>The name of the issue. </a></h3>
            <p class=“display-30”>Description of the issue I am having.</p>
            <a href=“#!” class=“read-more”>read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>