* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #4E5C74;
}

body {
    margin: 0 2.5%;
}

header {
    color: #4E5C74;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    font-size: 200%;
    padding: 5px;
}
.column {
    width: 100%;
}

.search-bar button {
    padding: 10px;
}

.search-bar svg {
    font-size: 200%;
}

.explanation {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.explanation h2 {
    font-weight: normal;
}

.page-title {
    /* width: 50%; */
    display: flex;
    align-items: center;
    font-size: 36px;
}

.nav {
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-title {
    text-align: center;
    color: var(--dark-blue);
}

.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #4E5C74;
    box-shadow: 5px 5px 5px gray;
    color: var(--dark-blue);
    width: 90%;
}

.picture-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    margin-top: 15px;
}

.edit-profile-btn {
    padding: 10px;
    background-color: white;
    border: 2px solid #4E5C74;
}

.btn:hover {
    background-color: #4E5C74;
    color: white;
    /* transform: scale(1.1); */
    border: 2px solid white;
    cursor: pointer;
}

.profile-picture-container {
    max-width: 200px;
    max-height: 200px;
}

.picture-selection {
    margin-top: 15px;
}

.profile-picture-container-small {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
}

.profile-picture-container-small img:hover {
    transform: scale(1.1);
    border: 2px solid white;
    cursor: pointer;
}

.all-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
}

.pics-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 10px;
}

.profile-picture {
    max-width: 100%;
}

.all-pictures {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

.picture-select-box {
    padding: 10px;
}

.picture-select-btn {
    padding: 10px;
    background-color: white;
    border: 2px solid #4E5C74;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    text-align: center;
}

.profile-info h2 {
    margin: 5px 0;
}

.post-title {
    margin: 15px 0;
}

.post-list {
    width: 90%;
    margin: 15px auto;
    color: var(--dark-blue);
}

.previous-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    margin-bottom: 15px;
}

.previous-post-title {
    background-color: var(--dark-blue);
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.previous-post-title h4 {
    margin: 0;
}

.previous-post-title a {
    text-decoration: none;
    color: white;
}

.previous-post-title a:hover {
    text-decoration: underline;
}

.previous-post-body {
    padding: 10px;
}

.italic {
    font-style: italic;
}

.overflow {
    max-height: 100px;
    overflow: auto;
}

.card-style2 {
    position: relative;
  }
  
.issue-box {
    border: 2px solid #4E5C74;
    padding: 10px;
    border-radius: 10px;
}

.collapsible-header {
    background-color: var(--dark-blue);
}

.collapsible-header a {
    color: white;
}

.pic-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #4E5C74;
}

.issue-title {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.reply-box {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.reply-field {
    margin: 10px 0;
    width: 100%;
    height: 100px;
}

.field-submit-btn-box {
    margin-top: 10px;
}

textarea {
    padding: 10px;
}

.create-issue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.create-btn {
    padding: 10px;
    background-color: #4E5C74;
    border-radius: 10px;
    font-size: x-large;
    color: white;
}

.create-btn:hover {
    background-color: white;
    border: 2px solid #4E5C74;
    cursor: pointer;
    color: #4E5C74;
}

.issue-title-create, .issue-text-create {
    width: 25%;
    padding: 10px;
}

.blue {
    color: #4E5C74;
}

.all-comments {
    margin-top: 30px;
}

.comment-box {
    padding: 10px;
    width: 50%;
}

.issue-content {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.highlight {
    border: 2px solid white;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
